[submodule "src/robotont_driver"]
	path = src/robotont_driver
	url = https://github.com/robotont/robotont_driver
	branch = jazzy-devel
[submodule "src/robotont_msgs"]
	path = src/robotont_msgs
	url = https://github.com/robotont/robotont_msgs
	branch = jazzy-devel
[submodule "src/robotont_description"]
	path = src/robotont_description
	url = https://github.com/robotont/robotont_description
	branch = humble-devel
